:root {
    --border-rad-lg: 15px;
    --light-text: #ffffff;  /* White for light text */
    --primary-color: #333333; /* Black for primary elements */
    --secondary-color: #003366; /* Dark blue for secondary elements */
    --button-bg: #135bce; /* Grey for button background */
    --button-bg-hover: #333333; /* Darker grey for button hover */
    --input-bg: #f2f2f2; /* Light grey for input background */
    --header-bg: #1a1a1a; /* Dark grey for header background */
}

*, *::before, *::after {
    box-sizing: border-box;  
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {    
    background-color: slategrey;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* chatbot elements */

.chatbot-container {
    background-color: var(--primary-color);
    width: 90%;
    max-width: 600px;
    height: 80vh;
    border-radius: var(--border-rad-lg);
    padding: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.chatbot-header {
    background-color: var(--header-bg);
    width: 100%;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-rad-lg) var(--border-rad-lg) 0 0;
}

.chatbot-conversation-container {
    background-color: var(--input-bg);
    flex-grow: 1;
    overflow-y: scroll;
    margin: 1em 0;
    padding: 1em;
    border-radius: var(--border-rad-lg);
}

/* Hide ugly scroll bar on some browsers */
.chatbot-conversation-container::-webkit-scrollbar {
    display: none;
}

.chatbot-conversation-container::-moz-scrollbar {
    display: none;
}

.speech {
    padding: 1em;
    max-width: 240px; 
    color: var(--light-text);
    border-radius: var(--border-rad-lg); 
    font-size: 1.07em;
}

.speech:first-child {
    margin-top: 0;
}

.speech-ai {
    background: var(--secondary-color);
    border-top-left-radius: 0;
    margin: 1.2em 0 0 auto; 
    align-self: flex-end;
}

.speech-human {
    margin: 1.2em 0 0 0; 
    background: var(--primary-color);
    border-top-right-radius: 0; 
}

.chatbot-input-container {
    display: flex;
    margin-top: auto;
}

input[type="text"], button {
    background-color: var(--input-bg);
    border: 1px solid #586e88;
    border-radius: var(--border-rad-lg);
    padding: 1em;
    color: var(--light-text);
}

input[type="text"] {
    width: 100%;
    border-right: 0; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: black;
}

input[type="text"]::placeholder {
    color: #aaa;
}

button {
    border-left: 0; 
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.send-btn-icon {
    width: 20px;
    display: block;
}

/* text */
.heading {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
}

.home-btn {
    background-color: var(--button-bg);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
}

.home-btn:hover {
    background-color: var(--button-bg-hover);
}
